<div class="container">
<h2>About Super Rentals</h2>

<p>
  The Super Rentals site is a project to explore Ember.<br>
  By building a property rental site, we can imagine traveling and creating.
</p>

{{#each model as |rental|}}
{{rental.owner}}
{{/each}}

{{#link-to 'contact'}}Click here to Contact Us!{{/link-to}}<br><br>
{{#link-to 'index'}}Home{{/link-to}}

</div>
