
  <h1 class="text-center">Welcome to Super Rentals!</h1><br>
  <small> We hope you find what you're looking for.</small>
<br><br>


<ul style="list-style: none;">
  {{#each model as |rental|}}
    {{rental-canvas rental=rental saveChanges="saveChanges" destroyRental="destroyRental"}}
  {{/each}}
</ul>
<br>
{{new-rental save2="save2"}}

<br>
  {{#link-to 'about'}}About{{/link-to}}
  {{#link-to 'contact'}}Contact Us{{/link-to}}
