<div class="container">
  <h1>Welcome to Super Rentals!</h1>

  We hope you find what you're looking for.<br><br>


<ul style="list-style: none;">
  {{#each model as |rental|}}
    {{rental-canvas rental=rental destroyRental="destroyRental"}}
  {{/each}}
</ul>

{{new-rental save2="save2"}}

<br>
  {{#link-to 'about'}}About{{/link-to}}
  {{#link-to 'contact'}}Contact Us{{/link-to}}
</div>
